{% extends "pages/base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<br>
<br>
<center><h1>Wellcome back!</h1></center>
<br>
<a href ="home">1. Xem mọi thông tin về thu ngân</a> <!--done-->
<a href ="">  1.1 tìm thông tin thu ngân dựa trên số điên thoại</a> <!--done sql-->
<a href ="">  1.2 tìm thông tin thu ngân dựa trên id</a> <!--done sql-->
<a href ="">2. xem mọi thông tin về người làm</a> <!--done-->
<a href ="">  2.1 tìm thông tin người làm dựa trên số điên thoại</a> <!--done sql-->
<a href ="">  2.2 tìm thông tin người làm dựa trên id</a> <!--done sql-->
<a href="">3. Tính lương của cashier</a> <!--done-->
<a href="">3. Tính lương của worker</a> <!--done-->
<a href="">4. Hiển thị người vừa làm giày vừa làm thu ngân</a> <!--done-->
<a href="">5. hiển thị thông tin toàn bộ khách hàng</a> <!--done-->
<a href=""> 5.1 hiển thị thông tin của khách tra theo số điện thoại</a> <!--done sql-->
<a href=""> 5.1 hiển thị thông tin của khách tra theo mã khách hàng</a> <!--done sql-->
<a href="">6. hiển thị thông tin toàn bộ hoá đơn của khách</a> <!--done sql-->
<a href=""> 6.1 hiển thị thông tin các hoá đơn của khách tra theo số điện thoại</a> <!--done sql-->
<a href=""> 6.2 hiển thị thông tin các hoá đơn của khách tra theo mã khách hàng</a> <!--done sql-->
<a href=""> 6.3 hiển thị thông tin hoá đơn theo mã hoá đơn</a> <!--done sql-->
<a href="">7. Xem trạng thái của các đôi giày trong mã hoá đơn đã ghi</a> <!--done sql-->
<a href="">8. Tìm cashier nào nhận đơn dựa vào mã hoá đơn</a> <!--done sql-->
<a href="">9. Liệt kê những đôi giày nào chưa được làm</a> <!--done-->
<a href="">10. Liệt kê những đôi giày nào được làm nhưng chưa được trả</a> <!--done-->
<a href="">11. Cập nhật thông tin về người làm giày hoặc thu ngân</a> <!--done sql-->
<a href="">12. Hiển thị giày khách quên đến lấy</a> <!--done-->
<a href="">13. Hiển thị khách cùng số tiền khách tiêu theo top x</a> 
<a href="">14. thống kê độ tuổi của khách chi nhiều tiền dịch vụ nhất</a>
<a href="">15. update tình trạng của giày đã được hoàn thành</a> <!--done sql-->
<a href="">16. update ngày lấy giày của khách</a> <!--done sql-->



{% endblock %}