{% extends "pages/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Cùng có một ngày làm việc hiệu quả nhé!</h1>
<br>
<a href=""> Tổng lượng đơn trong hệ thống </p>
<p> Số lượng giày chưa làm trong hệ thống </p>
<br>

<br>
<a href="all_worker_infos/">hiện thông tin mọi worker</a>
<br>
<a href="all_cashier_infos/">hiện thông tin mọi cashier</a>
<br>
<a href="cal_salary_worker/">tính lương người làm giày</a>
<br>
<a href="cal_salary_cashier/">tính lương thu ngân</a>
{% endblock %}